@import "../../style/style";
.movieDetail {
  background-image: url("../../images/background.jpg");
  @include wallpaper;
  height: $full-vh;
  width:$full;
  @include breakpoint-down(small) {
    padding: 0 $medium;
    background: $dark;
    height: $full-vh;
  }

  .details {
    .detail-img {
      width: 30%;
    }
    width: 80%;
    @include breakpoint-down(small) {
      width: $full;
      height: $full-vh;
    }
    padding: calc($full-px/2) 0;
    margin: $auto;
    display: $flex;
    @include breakpoint-down(small) {
      flex-direction: $col;
    }
    @include flex-between;
    .detail-info {
      border-radius: 3%;
      padding: calc($full-px/4);
      width: $half;
      @include breakpoint-down(small) {
        width: 70%;
      }
      h1 {
        font-size: $large;
        color: $light;
      }
      p {
        font-size: $medium;
        color: $light;
        margin: $sm 0;
        @include breakpoint-down(small) {
          letter-spacing: 1px;
        }
      }
      span {
        color: $light;
        i {
          color: $yellow;
        }
      }
    }
    .detail-img img {
      @include image;
      height:$full;
    }
  }
}
