@import '../../style/style';
.footer {
  
    padding:20px 0;
   
    background: $darkNavbar;
    @include breakpoint-down(small) {
      padding:20px ;
      
    }
    &__container{
        width:80%;
        @include breakpoint-down(small) {
            width:90%;
            }
        margin:auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        h3{
            color:$light;
            @include breakpoint-down(small) {
                font-size:10px;
                }
        }
        ul{
            display: flex;
            @include breakpoint-down(small) {
               flex-direction: column;
             
              }
            li{
                @include breakpoint-down(small) {
                   font-size:10px;
                   }
                color:$light;
                margin:0 10px;

                &:hover{
                    color:$pink;
                    transition: all 0.4s ease;
                }
            }
        }
    }
  
   
  
    
  }
  