@import "../../style/style";
.wishList {
  background-image: url("../../images/background.jpg");
  @include wallpaper;
  height: $full;
  display: $grid;
  grid-template-columns: repeat(4, 1fr);
  @include breakpoint-down(small) {
    grid-template-columns: repeat(1, 1fr);
  }
  h1 {
    color: $white;
    text-align: $center;
  }
  .details {
    width: 80%;
    padding: calc($full-px/2) 0;
    margin: $auto;

    .detail-img img {
      border-radius: 5%;
      @include image;
    }
    .footer {
      padding: $sm;
      @include flex-between;
      h2 {
        color: $light;
        font-size: $medium;
        @include breakpoint-down(small) {
          font-size: $ssm;
        }
        @include breakpoint-down(medium) {
          font-size: $ssm;
        }
      }
      button {
        @include button;
        @include breakpoint-down(small) {
          padding:calc($sm/2);
          font-size: $ssm;
        }
      }
    }
  }
}
