@import "../../style/style";

.main {
  @include wallpaper;
  min-height: 100vh;
  padding-bottom: 40px;
  background-image: url("../../images/background.jpg");
  @include breakpoint-up(medium) {
  }
  @include breakpoint-down(small) {
    padding-bottom: 20px;
  }
  .searchingDatas {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
  }
}
