@import '../../style/style';

.main{
  @include wallpaper;
  background-image:url('../../images/background.jpg');
  padding: 10px 0;
  @include breakpoint-up(medium){padding:20px 0}
  @include breakpoint-down(small) {
    padding:20px;
  }
}