@import "../../style/style";
.movie {
  position: $relative;
  @include flex-col;
  align-items: $center;
  .movie-img {
    cursor: $pointer;
    height: calc($full-px * 2);
    @include breakpoint-down(small) {
      width: 90%;
    }
    &:hover {
      opacity: 0.3;
      transition: all 0.4s ease;
    }
  }
}
.movie-card {
  width: $full;
  position: $absolute;
  bottom: 0;
  left: 0;
  height: calc($full/2);
  @include card;
  .info {
    @include flex-center;
    margin: $sm 0;
    @include breakpoint-down(medium) {
      justify-content: $center;
    }
    @include breakpoint-down(small) {
      margin: calc($sm/2);
    }
   
  }
}
