@import "../../style/style";
.movies {
@include flex-col;
  margin: calc($full-px/2) $auto;
  width: 90%;
  @include breakpoint-down(small) {
    width: 90%;
  }

  h1 {
    font-size: $large;
    line-height: calc($full-px/2);
    color: $light;
    margin-bottom: $sm;
    padding: 0 $ssm;
  }
  .list {
    display: $grid;
    width: $full;
    grid-template-columns: repeat(5, 1fr);
    gap: $sm;
    @include breakpoint-down(small) {
      grid-template-columns: repeat(2, 1fr);
    }
    @include breakpoint-down(medium) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
