@import "../../style/style";

.navbar {
  @include flex-around;
  padding: $medium 0;

  background: $darkNavbar;
  @include breakpoint-down(small) {
    padding: $medium;
  }
  &__navbar {
    ul {
      display: $flex;
      align-items: $center;
      .nav-item {
        margin: 0 $sm;
        a {
          color: $light;
          font-size: $ssm;
          letter-spacing: 2px;
          font-weight: $bold;
          text-transform: uppercase;
          &:hover {
            @include hoverText;
          }
        }
      }
    }
    @include breakpoint-down(small) {
      display: $none;
    }
  }
  .mobile-navbar {
    @include breakpoint-down(medium) {
      display: $none;
    }
    padding: 0 $medium;
    i {
      color: $light;
      font-size: $llarge;
      &:active {
        transform: rotate(-0.25turn);
        transition: all 0.4s ease;
      }
    }
    @include breakpoint-down(small) {
      display: $block;
    }
    @include breakpoint-up(large) {
      display: $none;
    }
    .sidebar {
      background: $darkNavbar;
      @include flex-col;
      justify-content: $start;
      align-items: $start;
      position: fixed;
      top: 70px;
      right: 0;
      bottom: 0;
      background-color: $bar;
      z-index: 99;
      width: calc($full-px *2);
      padding: 30px 30px 0;
      ul > li {
        margin: $ssm 0;
        a {
          color: $light;
          &:hover {
            @include hoverText;
          }
        }
      }
    }
  }
  &__auth {
    display: $flex;
    button,
    button > a {
      @include button;
      margin: 0 $sm;
      @include breakpoint-down(small) {
        display: $none;
      }
    }
  }
}
