
@import './variables';
@mixin wallpaper {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

@mixin transition{
  color:$pink;
  transition: all 0.4s ease;
}
@mixin flex-center {
  display: $flex;
  align-items: center;
  justify-content: center;
}
@mixin flex-col {
  display: $flex;
 flex-direction: $col;
}
@mixin flex-row {
  display: $flex;
 flex-direction:$row;
}

@mixin flex-between{
  display: $flex;
  align-items: center;
  justify-content: space-between;
}
@mixin flex-around{
  display: $flex;
  align-items: center;
  justify-content: space-around;
}


@mixin image{
  width: $full;
  height:  $full;
  object-fit: cover;
}

@mixin button {
  cursor: $pointer;
  border-radius: 4px;
  background: $pink;
  box-shadow: 0 0 20px 0 rgb(255 88 96 / 50%);
  opacity: 0.85;
  font-size: $ssm;
  color: $white;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.6px;
  border: none;
  padding: $sm;

  @include breakpoint-down(medium) {
    padding: 5px;
    font-size: $sm;
  }
}

@mixin hoverText {
  color: $pink;
  transition: all 0.4s ease;
}
@mixin card{
  h2 {
    text-align: $center;
    cursor: $pointer;
    color: $light;
    font-size: $medium;
    padding: 0 calc($sm/2);
    @include breakpoint-down(small) {
      font-size: $ssm;
    }
    @include breakpoint-down(medium) {
      font-size: $sm;
    }
    &:hover {
      @include transition;
    }
  }
  span {
    color: $light;
    font-size: $medium;
  }

  i {
    cursor: $pointer;
    font-size: $medium;
    color: $light;
    &:hover {
      @include transition;
    }
  }
}

// 640px, 1024px, 1400px
$breakpoints-up: (
  "medium": "40em",
  "large": "64em",
  "xlarge": "87.5em",
);
// 639px, 1023px, 1399px
$breakpoints-down: (
  "small": "39.9375em",
  "medium": "63.9375em",
  "large": "87.4375em",
);
@mixin breakpoint-up($size) {
  @media (min-width: map-get($breakpoints-up, $size)) {
    @content;
  }
}

@mixin breakpoint-down($size) {
  @media (max-width: map-get($breakpoints-down, $size)) {
    @content;
  }
}
