//colors
$pink: #ff55a5;
$dark: #28282d;
$light:rgba(255, 255, 255, 0.5);
$darkNavbar:#2b2b31;
$yellow:yellow;
$bar : #2b2b31;
$white:white;

//size
$sm: 10px;
$ssm:15px;
$llarge:30px;
$large:36px;
$medium:20px;
$full-vh :100vh;
$full:100%;
$half:50%;
$bold:500;
$full-px:100px;


//flex
$flex:flex;
$grid:grid;
$col:column;
$row:row;
$none:none;
$block:block;
$start: flex-start;
$center:center;
$evenly:space-evenly;



//positions
$absolute:absolute;
$relative:relative;
$fixed:fixed;


//margin and padding 
$auto:auto;

// cursor 
$pointer:pointer;

//radius
$sm-radius:5%;