@import "../../style/style";

.banner-img {
  width:$full;
  position:$relative;
  height: 90vh;
  background-repeat: no-repeat;
  background-attachment: $fixed;
  @include breakpoint-down(small) {
    height: calc($full-vh/2);
  }
  .overlay {
    position:$absolute;
    z-index: 0;
    top:0;
    left:0;
    width:$full;
    height:$full;
    background:rgba(0, 0, 0, 0.2);
  }
  .info {
    padding: $medium 60px;
    z-index: 10;
    height: $full;
  @include flex-col;
    justify-content:center;


    h1 {
      color: $white;
      font-size: calc($llarge *2);
      font-weight: 700;
      @include breakpoint-down(small) {
        font-size: calc($medium *2);
      }
    }
    p {
      color: $white;
      font-size: $medium;
      margin: $sm 0;
      letter-spacing:1px;
      @include breakpoint-down(small) {
        font-size: $ssm;
      }
      
    }
    .banner-detail {
      display: $flex;
      a {
        color: $white;
      }
      button {
        @include button;
      }
    }
  }
}
