@import "../../style/style";
.footer {
  padding: $medium 0;
  background: $darkNavbar;
  @include breakpoint-down(small) {
    padding: $medium;
  }
  &__container {
    width: 80%;
    @include breakpoint-down(small) {
      width: 90%;
    }
    margin: $auto;
    @include flex-between;
    h3 {
      color: $light;
      @include breakpoint-down(small) {
        font-size: $sm;
      }
    }
    ul {
      display: $flex;
      @include breakpoint-down(small) {
        flex-direction: $col;
      }
      li {
        @include breakpoint-down(small) {
          font-size: $sm;
        }
        color: $light;
        margin: 0 $sm;
        &:hover {
          @include transition;
        }
      }
    }
  }
}
