@import "../../style/style";

.search {
  width: 80%;
  display: flex;
  margin:  auto;
  align-items: center;
  @include breakpoint-down(small) {
    width: 90%;
  }
  input {
    width: 100%;
    background-color: white;
    border-radius: 2%;
    outline: none;
    font-size: 14px;
    border: none;
    padding: 15px 20px;
    color: $dark;
    @include breakpoint-down(small) {
        padding: 10px 20px;
      }
  }
  button{
    background-color:transparent;
    border:none;outline:none;
    cursor: pointer;
    i {
        color: $light;
        font-size: 20px;
        margin: 0 10px;
      }
  }

}
