@import "../../style/style";

.search {
  width: 90%;
  display: $flex;
  margin: $auto;
  align-items: $center;
  padding:20px 0;
  @include breakpoint-down(small) {
    width: 90%;
  }
  input {
    width: $full;
    background-color: transparent;
    border-radius: 2%;
    outline: $white;
    font-size: $ssm;
    border: 1px solid rgba(255, 192, 203, 0.767);
    padding: $sm $medium;
    color: $white;


    @include breakpoint-down(small) {
      padding: $sm $medium;
    }
  }
  button {
    background-color: transparent;
    border: $none;
    outline: $none;
    cursor: $pointer;
    i {
      color: $light;
      font-size: $medium;
      margin: 0 $sm;
    }
  }
}
