@import '../../style/style';
.wishList {
    background-image: url("../../images/background.jpg");
    @include wallpaper;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    @include breakpoint-down(small) {
      grid-template-columns: repeat(1,1fr);
    }
  
    .details {
      width: 80%;
      padding: 50px 0;
      margin: auto;
    
      .detail-img img {
        width: 100%;
        border-radius: 5%;
        height: 100%;
        object-fit: cover;
      }
      .footer{
        padding:10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        h2{
          color:$light;
          font-size:20px;
          @include breakpoint-down(small) {
           font-size: 16px;
          }
          @include breakpoint-down(medium) {
          
            font-size: 14px;
          }
        }
        button{
          @include button;
          @include breakpoint-down(small) {
            padding:5px;
            font-size: 14px;
          }
         
        }
      }
    }
  }