@import "../../style/style";
.searched {
    color: transparent;
    display: inline-block;
    height: 75%;
    width: $full;
  a {
   

    img {
      @include image;
    }
  }
  .info {
    @include flex-between;
   @include card;
   margin:$sm 0;
  }
}
