@import "../../style/style";
.searched {
    color: transparent;
    display: inline-block;
    height: 75%;
    width: 100%;
  a {
   

    img {
      @include image;
    }
  }
  .info {
    @include flex-between;
    h2 {
      text-align: $center;
      cursor: $pointer;
      color: $light;
      font-size: $medium;
      padding: 0 calc($sm/2);
      @include breakpoint-down(small) {
        font-size: $ssm;
      }
      @include breakpoint-down(medium) {
        font-size: $sm;
      }
      &:hover {
        @include transition;
      }
    }
    span {
      color: $light;
      font-size: $medium;
    }

    i {
      cursor: $pointer;
      font-size: $medium;
      color: $light;
      &:hover {
        @include transition;
      }
    }
  }
}
