@import '../../style/style';
.movie{
    .movie-img{
        cursor: pointer;
        width:250px;
        height:150px;
        @include breakpoint-down(small) {
            width:90%;
          }
       
        img{
            width: 100%;
            height:100%;
            object-fit:cover;
        }
        &:hover{
            opacity: 0.7;
            transition: all 0.4s ease;
        }
    }
    .movie-footer{
        display:flex;
        justify-content:space-between;
        align-items:center;
        margin:10px 0;
        @include breakpoint-down(small) {
            margin:5px;
           }
        h2{
            cursor: pointer;
            color:$light;
            font-size:20px;
            padding:0 5px;
            @include breakpoint-down(small) {
                font-size: 14px;
               }
            &:hover {
                color:$pink;
                transition: all 0.4s ease;
            }
        }
        i{
            cursor: pointer;
            font-size: 18px;
            color:$light;
            &:hover{
                color:$pink;
                transition: all 0.4s ease;
            }
        }
    }
   
}